.menu-button {
    text-align: center;
    text-decoration: none;
    background-color: purple;
    border: 1px solid white;
    margin: 5px;
    padding: 5px;
    color: white;
    transition-duration: 0.1s;
}

.menu-button:hover {
    box-shadow: inset 0 0 5px white;
}
