{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <title>
        {% block title %}
            Nollie
        {% endblock title %}
    </title>
</head>

<body>
    <span id='main-menu'></span>

    {% block content %}
    {% endblock content %}

    <script src="{% static 'base.js' %}"></script>
</body>
</html>
